html,
body {
    height: 100%;
    margin: 0;
}

$footerHeight: 50px;
.container {
    min-height: 100%;
    margin-bottom: -$footerHeight;
}

.modules-area {
    width: 920px;
    margin: 0 auto;
}

.modules-area .module {
    width: 300px;
    display: inline-block;
}

.footer {
    width: 900px;
    height: 10%;
    margin: 0 auto;
    text-align: center;
}

.title-bar {
    background-color: grey;
}

.modules-area {
    width: 920px;
    margin: 0 auto;
}

.modules-area .module {
    width: 300px;
    display: inline-block;
}

.footer {
    width: 900px;
    height: 10%;
    margin: 0 auto;
    text-align: center;
}

.title-bar {
    background-color: grey;
}

.body-container {
    background-image: url("https://timedotcom.files.wordpress.com/2017/08/coffee.jpg");
}